body{
    background-color: #666;
}

#calc{
    margin: 0 auto;
    width: 50%; 
    text-align: center;
    float: center;
    padding: 40px;
    background-color: #444;
    
}

h1{
    text-align: center;
}

form{
    padding: 10px;
}

label{
    padding: 10px;
}

select{
    width: 27%;
}
